body{
	margin:0px;
	background-image: url(https://cdn5.f-cdn.com/contestentries/212081/10921447/5549c4471c049_thumb900.jpg);
    background-size: cover;
}

.abc{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: cursive;
	font-size: 3em;
	border: 2px solid pink;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	transition: all 1s;
}

h1:hover{
	transform: scale(1.1);
}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}